<h1 mat-dialog-title>
  {{title}}
</h1>

<div>
  <form [formGroup]="rootForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="rootForm.get('name')">
    </mat-form-field>
    <app-field-errors [control]="rootForm.get('name')"></app-field-errors>

    <mat-form-field>
      <mat-label>Number</mat-label>
      <input matInput type="number" [formControl]="rootForm.get('number')">
    </mat-form-field>
    <app-field-errors [control]="rootForm.get('number')"></app-field-errors>

    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="rootForm.invalid">
        {{submitButton}}
      </button>
    </div>

  </form>
</div>

