<h1 mat-dialog-title>
  {{title}}
</h1>

<div>
  <form [formGroup]="rootForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="rootForm.get('name')">
    </mat-form-field>
    <app-field-errors [control]="rootForm.get('name')"></app-field-errors>

    <mat-form-field>
      <mat-label>Ticket</mat-label>
      <input matInput [formControl]="rootForm.get('ticket')">
    </mat-form-field>
    <app-field-errors [control]="rootForm.get('ticket')"></app-field-errors>

    <div class="previews">
      <fieldset class="preview-section">
        <mat-label class="preview-label">Bug preview</mat-label>
        <app-file-uploader [formControl]="rootForm.get('bugPreviewUrl')"></app-file-uploader>
      </fieldset>

      <fieldset class="preview-section">
        <mat-label class="preview-label">Fix preview</mat-label>
        <app-file-uploader [formControl]="rootForm.get('fixPreviewUrl')"></app-file-uploader>
      </fieldset>
    </div>


    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="rootForm.invalid">
        {{submitButton}}
      </button>
    </div>

  </form>
</div>

