body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;

  th, td {
    vertical-align: middle;
  }
}

mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  margin-top: 24px;
  margin-bottom: 0 !important;
}

.shrinked-topbar {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
}

.shrinked-content {
  max-width: 1000px;
  margin: auto;
}
