body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;

  th, td {
    vertical-align: middle;
  }
}

mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  margin-top: 24px;
  margin-bottom: 0 !important;
}
