<header class="header" *ngIf="bugfixes.length">
  <a class="back-button" mat-icon-button routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <span class="ticket">{{bugfixes[currentBugfixIndex]?.ticket}} </span>
  <span class="name">{{bugfixes[currentBugfixIndex]?.name}}</span>

  <span *ngIf="isBugPreview">- (Bug preview)</span>
  <span *ngIf="!isBugPreview">- (Fix preview)</span>
</header>

<main *ngIf="bugfixes.length">
  <video
    class="video"
    [src]="getCurrentUrl()"
    controls
    autoplay
    (pause)="videoPaused()"
    (playing)="videoStarted()"
    (ended)="videoEnded()"
  ></video>
</main>

<div class="global-overlay" *ngIf="!isVideoPlaying">
  <div class="controls">
    <button
      *ngIf="isBugPreview && hasPrevious()"
      class="event-section left-action"
      mat-raised-button
      (click)="goToPreviousBugfix()"
    >
      <mat-icon>bug_report</mat-icon>
      PREVIOUS BUGFIX
    </button>

    <button class="event-section left-action" mat-raised-button *ngIf="!isBugPreview" (click)="showBugPreview()">
      <mat-icon>arrow_left</mat-icon>
      Show Bug Preview
    </button>

    <button
      *ngIf="!isBugPreview && hasNext()"
      class="event-section right-action" mat-raised-button
      (click)="goToNextBugfix()"
    >
      NEXT BUGFIX
      <mat-icon>bug_report</mat-icon>
    </button>

    <button class="event-section right-action" mat-raised-button *ngIf="isBugPreview" (click)="showFixPreview()">
      Show Fix Preview
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>

</div>
