<mat-toolbar color="primary">
  <ng-container *ngIf="sprintView">
    <h1>{{sprintView.name}}</h1>

    <button
      class="play-button"
      mat-raised-button
    >
      <span>Play</span>
      <mat-icon>play_arrow</mat-icon>
    </button>
  </ng-container>

  <button
    class="new-button"
    mat-raised-button
    (click)="openNewSprintDialog()"
  >
    <span>New</span>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<table class="table" mat-table [dataSource]="items.data">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">
      {{typeIt(row).name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="ticket">
    <th mat-header-cell *matHeaderCellDef>Ticket</th>
    <td mat-cell *matCellDef="let row">{{typeIt(row).ticket}}</td>
  </ng-container>

  <ng-container matColumnDef="bugPreview">
    <th mat-header-cell *matHeaderCellDef>Bug Preview</th>
    <td mat-cell *matCellDef="let row">
      <mat-icon *ngIf="!typeIt(row).bugPreviewUrl" color="warn">close</mat-icon>
      <mat-icon *ngIf="typeIt(row).bugPreviewUrl" color="primary">check</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="fixPreview">
    <th mat-header-cell *matHeaderCellDef>Fix Preview</th>
    <td mat-cell *matCellDef="let row">
      <mat-icon *ngIf="!typeIt(row).fixPreviewUrl" color="warn">close</mat-icon>
      <mat-icon *ngIf="typeIt(row).fixPreviewUrl" color="primary">check</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <div class="action-buttons">
        <button
          mat-icon-button
          [mat-menu-trigger-for]="actionsMenuRef"
          [matMenuTriggerData]="{$implicit: row}"
          title="Options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <mat-menu xPosition="before" #actionsMenuRef>
    <ng-template matMenuContent let-row>
      <button mat-menu-item (click)="openUpdateSprintDialog(row)">
        Update
      </button>
      <button mat-menu-item (click)="openDeleteSprintDialog(row)">
        Delete
      </button>
    </ng-template>
  </mat-menu>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
