:host {
  display: block;
}

.back-arrow {
  margin-right: 8px;
}

button.new-button {
  margin-left: auto;
}

a.play-button {
  margin-left: 16px;
  margin-right: 16px;
}

.mat-column-actions {
  width: 100px;
}
